body {
    margin: 0;
    padding: 0;
    background-color: rgb(10,10,10);
    background-image: url(back.webp);
    background-size: 120%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: 60%;
    color: rgb(240,240,240);
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;transform: translateY(-50%);
    top: 40%;
    width: 100%;
    flex-direction: column;
    width: 100vw;
    font-family: Verdana, Tahoma, sans-serif;
    text-align: center;
}

.container{
    
}

.cont{
    display: grid;
    grid-template-columns: 1fr 6fr;
    align-items: center;
    
}

.click{
    margin: 1em;

    color: white;
    width: 25em;
    cursor: pointer;
    text-decoration: none;
    background: linear-gradient(135deg, rgba(128, 128, 128, 0.075), rgba(139, 111, 55, 0.182));
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    border: 4px solid #6e6d6d4f;
    box-shadow: 0 8px 32px 0 rgba(122, 98, 61, 0.378);
}

.click:hover{
    background-color: rgba(255, 255, 255, 0.472);
}

i{
    font-size: 4em;
    margin-right: 20px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
    border-radius: 20px;
    box-shadow: 0 8px 32px 0 rgba(123, 102, 69, 0.138);
}

img{
    height: 7em;
    border-radius: 50%;
}